<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
        <head>
                <base href="/" />
                <meta charset="UTF-8" />

                <!-- Document Metadata -->
                <title>{% block title %}{% endblock %}Torchmind</title>
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <meta name="robots" content="index,follow" />

                <!-- Stylesheets -->
                <link rel="stylesheet" type="text/css" href="assets/3rdParty/normalize.css" />
                <link rel="stylesheet" type="text/css" href="assets/style/page.css" />

                <!-- Scripts -->
                <script src="assets/3rdParty/es6-shim.min.js"></script>
                <script src="assets/3rdParty/system-polyfills.js"></script>
                <script src="assets/3rdParty/jquery.min.js"></script>
                <script src="assets/3rdParty/system.js"></script>

                <!-- SystemJS -->
                <script>
                        System.config({
                                defaultJSExtensions: true
                        });

                        System.import('assets/script/main').then(null, console.error.bind(console));
                </script>
        </head>
        <body>
                <canvas id="background"></canvas>

                <main id="page-wrapper">
                        <section id="main">
                                {% block main %}{% endblock %}
                        </section>
                </main>

                <footer id="page-footer">
                        <a href="https://github.com/Torchmind/landing-page">Source @ GitHub</a>
                </footer>
        </body>
</html>
